# Apply linear regression on the load_boston dataset
# From scikit-learn to predict the house price

## Insight and Visualization on the data

In [1]:
from sklearn.datasets import load_boston
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
from sklearn import datasets
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
%matplotlib inline

### #The features of each sample are stored in the data attribute of the dataset

In [3]:
city_data = datasets.load_boston()

### #Create our client's feature set to predict the house price

In [4]:
CLIENT_FEATURES = [[11.95, 0.00, 18.100, 0, 0.6590, 5.6090, 90.00, 1.385, 24, 680.0, 20.20, 332.09, 12.13]]

### #Initialize the housing prices and housing features

In [5]:
housing_prices = city_data.target
housing_features = city_data.data

### #Veiw the data

In [6]:
print("Boston data:", city_data.data)

Boston data: [[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]

In [7]:
print("Boston description:", city_data.DESCR)

Boston description: Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

### #The information about the class of each sample is stored in the *target* attribute of the dataset

In [8]:
boston = load_boston()
print(boston.data.shape)

(506, 13)

In [9]:
print(boston.target.shape)

(506,)

### #The names of the classes are stored in the *feature_names*

In [10]:
print("boston.keys(): \n{}".format(boston.keys()))

boston.keys():
dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [11]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

### #Create a Pandas dataframe with feature names as the column names

In [12]:
df = pd.DataFrame(boston.data, columns = boston.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [21]:
pandas_dataframe = pd.DataFrame(city_data.data)
pandas_dataframe.columns = city_data.feature_names
pandas_dataframe['Price'] = city_data.target
print(pandas_dataframe.query('Price > 20 & Price < 22'))
print(pandas_dataframe)

         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE      DIS   RAD    TAX  \
1     0.02731   0.0   7.07   0.0  0.469  6.421  78.9   4.9671   2.0  242.0
12    0.09378  12.5   7.87   0.0  0.524  5.889  39.0   5.4509   5.0  311.0
13    0.62976   0.0   8.14   0.0  0.538  5.949  61.8   4.7075   4.0  307.0
18    0.80271   0.0   8.14   0.0  0.538  5.456  36.6   3.7965   4.0  307.0
29    1.00245   0.0   8.14   0.0  0.538  6.674  87.3   4.2390   4.0  307.0
37    0.08014   0.0   5.96   0.0  0.499  5.850  41.5   3.9342   5.0  279.0
44    0.12269   0.0   6.91   0.0  0.448  6.069  40.0   5.7209   3.0  233.0
51    0.04337  21.0   5.64   0.0  0.439  6.115  63.0   6.8147   4.0  243.0
69    0.12816  12.5   6.07   0.0  0.409  5.885  33.0   6.4980   4.0  345.0
71    0.15876   0.0  10.81   0.0  0.413  5.961  17.5   5.2873   4.0  305.0
75    0.09512   0.0  12.83   0.0  0.437  6.286  45.0   4.5026   5.0  398.0
77    0.08707   0.0  12.83   0.0  0.437  6.140  45.8   4.0905   5.0  398.0
78    0.05646   0.0  12.83   0.0  0.437  6.232  53.7   5.0141   5.0  398.0
79    0.08387   0.0  12.83   0.0  0.437  5.874  36.6   4.5026   5.0  398.0
94    0.04294  28.0  15.04   0.0  0.464  6.249  77.3   3.6150   4.0  270.0
96    0.11504   0.0   2.89   0.0  0.445  6.163  69.6   3.4952   2.0  276.0
104   0.13960   0.0   8.56   0.0  0.520  6.167  90.0   2.4210   5.0  384.0
107   0.13117   0.0   8.56   0.0  0.520  6.127  85.2   2.1224   5.0  384.0
110   0.10793   0.0   8.56   0.0  0.520  6.195  54.4   2.7778   5.0  384.0
116   0.13158   0.0  10.01   0.0  0.547  6.176  72.5   2.7301   6.0  432.0
118   0.13058   0.0  10.01   0.0  0.547  5.872  73.1   2.4775   6.0  432.0
121   0.07165   0.0  25.65   0.0  0.581  6.004  84.1   2.1974   2.0  188.0
122   0.09299   0.0  25.65   0.0  0.581  5.961  92.9   2.0869   2.0  188.0
125   0.16902   0.0  25.65   0.0  0.581  5.986  88.4   1.9929   2.0  188.0
150   1.65660   0.0  19.58   0.0  0.871  6.122  97.3   1.6180   5.0  403.0
210   0.17446   0.0  10.59   1.0  0.489  5.960  92.1   3.8771   4.0  277.0
218   0.11069   0.0  13.89   1.0  0.550  5.951  93.8   2.8893   5.0  276.0
221   0.40771   0.0   6.20   1.0  0.507  6.164  91.3   3.0480   8.0  307.0
241   0.10612  30.0   4.93   0.0  0.428  6.095  65.1   6.3361   6.0  300.0
247   0.19657  22.0   5.86   0.0  0.431  6.226  79.2   8.0555   7.0  330.0
..        ...   ...    ...   ...    ...    ...   ...      ...   ...    ...
269   0.09065  20.0   6.96   1.0  0.464  5.920  61.5   3.9175   3.0  223.0
270   0.29916  20.0   6.96   0.0  0.464  5.856  42.1   4.4290   3.0  223.0
286   0.01965  80.0   1.76   0.0  0.385  6.230  31.5   9.0892   1.0  241.0
294   0.08199   0.0  13.92   0.0  0.437  6.009  42.3   5.5027   4.0  289.0
297   0.14103   0.0  13.92   0.0  0.437  5.790  58.0   6.3200   4.0  289.0
309   0.34940   0.0   9.90   0.0  0.544  5.972  76.7   3.1025   4.0  304.0
313   0.26938   0.0   9.90   0.0  0.544  6.266  82.8   3.2628   4.0  304.0
319   0.47547   0.0   9.90   0.0  0.544  6.113  58.8   4.0019   4.0  304.0
322   0.35114   0.0   7.38   0.0  0.493  6.041  49.9   4.7211   5.0  287.0
334   0.03738   0.0   5.19   0.0  0.515  6.310  38.5   6.4584   5.0  224.0
335   0.03961   0.0   5.19   0.0  0.515  6.037  34.5   5.9853   5.0  224.0
338   0.03306   0.0   5.19   0.0  0.515  6.059  37.3   4.8122   5.0  224.0
355   0.10659  80.0   1.91   0.0  0.413  5.936  19.5  10.5857   4.0  334.0
357   3.84970   0.0  18.10   1.0  0.770  6.395  91.0   2.5052  24.0  666.0
362   3.67822   0.0  18.10   0.0  0.770  5.362  96.2   2.1036  24.0  666.0
364   3.47428   0.0  18.10   1.0  0.718  8.780  82.9   1.9047  24.0  666.0
366   3.69695   0.0  18.10   0.0  0.718  4.963  91.4   1.7523  24.0  666.0
422  12.04820   0.0  18.10   0.0  0.614  5.648  87.6   1.9512  24.0  666.0
463   5.82115   0.0  18.10   0.0  0.713  6.513  89.9   2.8016  24.0  666.0
464   7.83932   0.0  18.10   0.0  0.655  6.209  65.4   2.9634  24.0  666.0
469  13.07510   0.0  18.10   0.0  0.580  5.713  56.7   2.8237  24.0  666.0
479  14.33370   0.0  18.10   0.0  0.614  6.229  88.0   1.9512  24.0  666.0
483   2.81838   0.0  18.10   0.0  0.532  5.762  40.3   4.0983  24.0  666.0
484   2.37857   0.0  18.10   0.0  0.583  5.871  41.9   3.7240  24.0  666.0
485   3.67367   0.0  18.10   0.0  0.583  6.312  51.9   3.9917  24.0  666.0
487   4.83567   0.0  18.10   0.0  0.583  5.905  53.2   3.1523  24.0  666.0
492   0.11132   0.0  27.74   0.0  0.609  5.983  83.5   2.1099   4.0  711.0
493   0.17331   0.0   9.69   0.0  0.585  5.707  54.0   2.3817   6.0  391.0
498   0.23912   0.0   9.69   0.0  0.585  6.019  65.3   2.4091   6.0  391.0
502   0.04527   0.0  11.93   0.0  0.573  6.120  76.7   2.2875   1.0  273.0

     PTRATIO       B  LSTAT  Price
1       17.8  396.90   9.14   21.6
12      15.2  390.50  15.71   21.7
13      21.0  396.90   8.26   20.4
18      21.0  288.99  11.69   20.2
29      21.0  380.23  11.98   21.0
37      19.2  396.90   8.77   21.0
44      17.9  389.39   9.55   21.2
51      16.8  393.97   9.43   20.5
69      18.9  396.90   8.79   20.9
71      19.2  376.94   9.88   21.7
75      18.7  383.23   8.94   21.4
77      18.7  386.96  10.27   20.8
78      18.7  386.40  12.34   21.2
79      18.7  396.06   9.10   20.3
94      18.2  396.90  10.59   20.6
96      18.0  391.83  11.34   21.4
104     20.9  392.69  12.33   20.1
107     20.9  387.69  14.09   20.4
110     20.9  393.49  13.00   21.7
116     17.8  393.30  12.04   21.2
118     17.8  338.63  15.37   20.4
121     19.1  377.67  14.27   20.3
122     19.1  378.09  17.93   20.5
125     19.1  385.02  14.81   21.4
150     14.7  372.80  14.10   21.5
210     18.6  393.25  17.27   21.7
218     16.4  396.90  17.92   21.5
221     17.4  395.24  21.46   21.7
241     16.6  394.62  12.40   20.1
247     19.1  376.14  10.15   20.5
..       ...     ...    ...    ...
269     18.6  391.34  13.65   20.7
270     18.6  388.65  13.00   21.1
286     18.2  341.60  12.93   20.1
294     16.0  396.90  10.40   21.7
297     16.0  396.90  15.84   20.3
309     18.4  396.24   9.97   20.3
313     18.4  393.39   7.90   21.6
319     18.4  396.23  12.73   21.0
322     19.6  396.90   7.70   20.4
334     20.2  389.40   6.75   20.7
335     20.2  396.90   8.01   21.1
338     20.2  396.14   8.51   20.6
355     22.0  376.04   5.57   20.6
357     20.2  391.34  13.27   21.7
362     20.2  380.79  10.19   20.8
364     20.2  354.55   5.29   21.9
366     20.2  316.03  14.00   21.9
422     20.2  291.55  14.10   20.8
463     20.2  393.82  10.29   20.2
464     20.2  396.90  13.22   21.4
469     20.2  396.90  14.76   20.1
479     20.2  383.32  13.11   21.4
483     20.2  392.92  10.42   21.8
484     20.2  370.73  13.34   20.6
485     20.2  388.62  10.58   21.2
487     20.2  388.22  11.45   20.6
492     20.1  396.90  13.35   20.1
493     19.2  396.90  12.01   21.8
498     19.2  396.90  12.92   21.2
502     21.0  396.90   9.08   20.6

[62 rows x 14 columns]
         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
0     0.00632  18.0   2.31   0.0  0.538  6.575   65.2  4.0900   1.0  296.0
1     0.02731   0.0   7.07   0.0  0.469  6.421   78.9  4.9671   2.0  242.0
2     0.02729   0.0   7.07   0.0  0.469  7.185   61.1  4.9671   2.0  242.0
3     0.03237   0.0   2.18   0.0  0.458  6.998   45.8  6.0622   3.0  222.0
4     0.06905   0.0   2.18   0.0  0.458  7.147   54.2  6.0622   3.0  222.0
5     0.02985   0.0   2.18   0.0  0.458  6.430   58.7  6.0622   3.0  222.0
6     0.08829  12.5   7.87   0.0  0.524  6.012   66.6  5.5605   5.0  311.0
7     0.14455  12.5   7.87   0.0  0.524  6.172   96.1  5.9505   5.0  311.0
8     0.21124  12.5   7.87   0.0  0.524  5.631  100.0  6.0821   5.0  311.0
9     0.17004  12.5   7.87   0.0  0.524  6.004   85.9  6.5921   5.0  311.0
10    0.22489  12.5   7.87   0.0  0.524  6.377   94.3  6.3467   5.0  311.0
11    0.11747  12.5   7.87   0.0  0.524  6.009   82.9  6.2267   5.0  311.0
12    0.09378  12.5   7.87   0.0  0.524  5.889   39.0  5.4509   5.0  311.0
13    0.62976   0.0   8.14   0.0  0.538  5.949   61.8  4.7075   4.0  307.0
14    0.63796   0.0   8.14   0.0  0.538  6.096   84.5  4.4619   4.0  307.0
15    0.62739   0.0   8.14   0.0  0.538  5.834   56.5  4.4986   4.0  307.0
16    1.05393   0.0   8.14   0.0  0.538  5.935   29.3  4.4986   4.0  307.0
17    0.78420   0.0   8.14   0.0  0.538  5.990   81.7  4.2579   4.0  307.0
18    0.80271   0.0   8.14   0.0  0.538  5.456   36.6  3.7965   4.0  307.0
19    0.72580   0.0   8.14   0.0  0.538  5.727   69.5  3.7965   4.0  307.0
20    1.25179   0.0   8.14   0.0  0.538  5.570   98.1  3.7979   4.0  307.0
21    0.85204   0.0   8.14   0.0  0.538  5.965   89.2  4.0123   4.0  307.0
22    1.23247   0.0   8.14   0.0  0.538  6.142   91.7  3.9769   4.0  307.0
23    0.98843   0.0   8.14   0.0  0.538  5.813  100.0  4.0952   4.0  307.0
24    0.75026   0.0   8.14   0.0  0.538  5.924   94.1  4.3996   4.0  307.0
25    0.84054   0.0   8.14   0.0  0.538  5.599   85.7  4.4546   4.0  307.0
26    0.67191   0.0   8.14   0.0  0.538  5.813   90.3  4.6820   4.0  307.0
27    0.95577   0.0   8.14   0.0  0.538  6.047   88.8  4.4534   4.0  307.0
28    0.77299   0.0   8.14   0.0  0.538  6.495   94.4  4.4547   4.0  307.0
29    1.00245   0.0   8.14   0.0  0.538  6.674   87.3  4.2390   4.0  307.0
..        ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
476   4.87141   0.0  18.10   0.0  0.614  6.484   93.6  2.3053  24.0  666.0
477  15.02340   0.0  18.10   0.0  0.614  5.304   97.3  2.1007  24.0  666.0
478  10.23300   0.0  18.10   0.0  0.614  6.185   96.7  2.1705  24.0  666.0
479  14.33370   0.0  18.10   0.0  0.614  6.229   88.0  1.9512  24.0  666.0
480   5.82401   0.0  18.10   0.0  0.532  6.242   64.7  3.4242  24.0  666.0
481   5.70818   0.0  18.10   0.0  0.532  6.750   74.9  3.3317  24.0  666.0
482   5.73116   0.0  18.10   0.0  0.532  7.061   77.0  3.4106  24.0  666.0
483   2.81838   0.0  18.10   0.0  0.532  5.762   40.3  4.0983  24.0  666.0
484   2.37857   0.0  18.10   0.0  0.583  5.871   41.9  3.7240  24.0  666.0
485   3.67367   0.0  18.10   0.0  0.583  6.312   51.9  3.9917  24.0  666.0
486   5.69175   0.0  18.10   0.0  0.583  6.114   79.8  3.5459  24.0  666.0
487   4.83567   0.0  18.10   0.0  0.583  5.905   53.2  3.1523  24.0  666.0
488   0.15086   0.0  27.74   0.0  0.609  5.454   92.7  1.8209   4.0  711.0
489   0.18337   0.0  27.74   0.0  0.609  5.414   98.3  1.7554   4.0  711.0
490   0.20746   0.0  27.74   0.0  0.609  5.093   98.0  1.8226   4.0  711.0
491   0.10574   0.0  27.74   0.0  0.609  5.983   98.8  1.8681   4.0  711.0
492   0.11132   0.0  27.74   0.0  0.609  5.983   83.5  2.1099   4.0  711.0
493   0.17331   0.0   9.69   0.0  0.585  5.707   54.0  2.3817   6.0  391.0
494   0.27957   0.0   9.69   0.0  0.585  5.926   42.6  2.3817   6.0  391.0
495   0.17899   0.0   9.69   0.0  0.585  5.670   28.8  2.7986   6.0  391.0
496   0.28960   0.0   9.69   0.0  0.585  5.390   72.9  2.7986   6.0  391.0
497   0.26838   0.0   9.69   0.0  0.585  5.794   70.6  2.8927   6.0  391.0
498   0.23912   0.0   9.69   0.0  0.585  6.019   65.3  2.4091   6.0  391.0
499   0.17783   0.0   9.69   0.0  0.585  5.569   73.5  2.3999   6.0  391.0
500   0.22438   0.0   9.69   0.0  0.585  6.027   79.7  2.4982   6.0  391.0
501   0.06263   0.0  11.93   0.0  0.573  6.593   69.1  2.4786   1.0  273.0
502   0.04527   0.0  11.93   0.0  0.573  6.120   76.7  2.2875   1.0  273.0
503   0.06076   0.0  11.93   0.0  0.573  6.976   91.0  2.1675   1.0  273.0
504   0.10959   0.0  11.93   0.0  0.573  6.794   89.3  2.3889   1.0  273.0
505   0.04741   0.0  11.93   0.0  0.573  6.030   80.8  2.5050   1.0  273.0

     PTRATIO       B  LSTAT  Price
0       15.3  396.90   4.98   24.0
1       17.8  396.90   9.14   21.6
2       17.8  392.83   4.03   34.7
3       18.7  394.63   2.94   33.4
4       18.7  396.90   5.33   36.2
5       18.7  394.12   5.21   28.7
6       15.2  395.60  12.43   22.9
7       15.2  396.90  19.15   27.1
8       15.2  386.63  29.93   16.5
9       15.2  386.71  17.10   18.9
10      15.2  392.52  20.45   15.0
11      15.2  396.90  13.27   18.9
12      15.2  390.50  15.71   21.7
13      21.0  396.90   8.26   20.4
14      21.0  380.02  10.26   18.2
15      21.0  395.62   8.47   19.9
16      21.0  386.85   6.58   23.1
17      21.0  386.75  14.67   17.5
18      21.0  288.99  11.69   20.2
19      21.0  390.95  11.28   18.2
20      21.0  376.57  21.02   13.6
21      21.0  392.53  13.83   19.6
22      21.0  396.90  18.72   15.2
23      21.0  394.54  19.88   14.5
24      21.0  394.33  16.30   15.6
25      21.0  303.42  16.51   13.9
26      21.0  376.88  14.81   16.6
27      21.0  306.38  17.28   14.8
28      21.0  387.94  12.80   18.4
29      21.0  380.23  11.98   21.0
..       ...     ...    ...    ...
476     20.2  396.21  18.68   16.7
477     20.2  349.48  24.91   12.0
478     20.2  379.70  18.03   14.6
479     20.2  383.32  13.11   21.4
480     20.2  396.90  10.74   23.0
481     20.2  393.07   7.74   23.7
482     20.2  395.28   7.01   25.0
483     20.2  392.92  10.42   21.8
484     20.2  370.73  13.34   20.6
485     20.2  388.62  10.58   21.2
486     20.2  392.68  14.98   19.1
487     20.2  388.22  11.45   20.6
488     20.1  395.09  18.06   15.2
489     20.1  344.05  23.97    7.0
490     20.1  318.43  29.68    8.1
491     20.1  390.11  18.07   13.6
492     20.1  396.90  13.35   20.1
493     19.2  396.90  12.01   21.8
494     19.2  396.90  13.59   24.5
495     19.2  393.29  17.60   23.1
496     19.2  396.90  21.14   19.7
497     19.2  396.90  14.10   18.3
498     19.2  396.90  12.92   21.2
499     19.2  395.77  15.10   17.5
500     19.2  396.90  14.33   16.8
501     21.0  391.99   9.67   22.4
502     21.0  396.90   9.08   20.6
503     21.0  396.90   5.64   23.9
504     21.0  393.45   6.48   22.0
505     21.0  396.90   7.88   11.9

[506 rows x 14 columns]

### #Statistical Analysis and Data Exploration

In [22]:
n_samples, n_features = np.shape(housing_features)

In [23]:
print(n_features)
total_houses = n_samples

13

In [24]:
total_features = n_features

In [25]:
minimum_price = np.min(housing_prices)

In [26]:
maximum_price = np.max(housing_prices)

In [27]:
mean_price = np.mean(housing_prices)

In [28]:
median_price = np.median(housing_prices)

In [29]:
std_dev = np.std(housing_prices)

In [30]:
print("Boston Housing dataset statistics (in $1000's):\n")
print("Total number of houses:", total_houses)
print("Total number of features:", total_features)
print("Minimum house price:", minimum_price)
print("Maximum house price:", maximum_price)
print("Standard deviation of house price: {0:.3f}".format(std_dev))

Boston Housing dataset statistics (in $1000's):

Total number of houses: 506
Total number of features: 13
Minimum house price: 5.0
Maximum house price: 50.0
Standard deviation of house price: 9.188

## Imputation of Missing Values

In [31]:
import numpy as np

In [32]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score

In [33]:
rng = np.random.RandomState(0)

In [34]:
dataset = load_boston()
X_full, y_full = dataset.data, dataset.target
n_samples = X_full.shape[0]
n_features = X_full.shape[1]

### #Estimate the score on the entire dataset, with no missing values

In [35]:
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_full, y_full).mean()
print("Score with the entire dataset = %.2f" % score)

Score with the entire dataset = 0.56

In [36]:
missing_rate = 0.75
n_missing_samples = int(np.floor(n_samples * missing_rate))
missing_samples = np.hstack((np.zeros(n_samples - n_missing_samples,
                                      dtype=np.bool),
                             np.ones(n_missing_samples,
                                     dtype=np.bool)))
rng.shuffle(missing_samples)
missing_features = rng.randint(0, n_features, n_missing_samples)

### #Estimate the score without the lines containing missing values

In [37]:
X_filtered = X_full[~missing_samples, :]
y_filtered = y_full[~missing_samples]
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_filtered, y_filtered).mean()
print("Score without the samples containing missing values = %.2f" % score)

Score without the samples containing missing values = 0.48

### #Estimate the score after imputation of the missing values

In [38]:
X_missing = X_full.copy()
X_missing[np.where(missing_samples)[0], missing_features] = 0
y_missing = y_full.copy()
estimator = Pipeline([("imputer", Imputer(missing_values=0,
                                          strategy="mean",
                                          axis=0)),
                      ("forest", RandomForestRegressor(random_state=0,
                                                       n_estimators=100))])
score = cross_val_score(estimator, X_missing, y_missing).mean()
print("Score after imputation of the missing values = %.2f" % score)

Score after imputation of the missing values = 0.57

## Selection of a Subset of Features

In [39]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import cross_val_score, ShuffleSplit

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [40]:
boston = load_boston()

In [41]:
X = boston["data"]
Y = boston["target"]
names = boston["feature_names"]

In [42]:
    rf = RandomForestRegressor(n_estimators=20, max_depth=4)
    scores = []
    for i in range(X.shape[1]):
        score = cross_val_score(rf, X[:, i:i + 1],
                                Y, scoring="r2", cv=ShuffleSplit(len(X), 3, .3))
        scores.append((round(np.mean(score), 3), names[i]))

In [43]:
print(scores)

[(0.249, 'CRIM'), (0.17, 'ZN'), (0.343, 'INDUS'), (0.031, 'CHAS'), (0.384, 'NOX'), (0.571, 'RM'), (-0.012, 'AGE'), (0.035, 'DIS'), (0.218, 'RAD'), (0.296, 'TAX'), (0.294, 'PTRATIO'), (0.15, 'B'), (0.621, 'LSTAT')]

## Model Evaluation with Error Metics

In [44]:
boston.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [45]:
df['output'] = boston.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,output
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [46]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
output     0
dtype: int64

In [47]:
corr_matrix = df.corr()
corr_matrix["output"].sort_values(ascending=False)

output     1.000000
RM         0.695360
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
AGE       -0.376955
RAD       -0.381626
CRIM      -0.385832
NOX       -0.427321
TAX       -0.468536
INDUS     -0.483725
PTRATIO   -0.507787
LSTAT     -0.737663
Name: output, dtype: float64